.date-picker-button {
	width: 52px;
	height: 52px;
	background-color: white !important;
	border: 1px solid #9D9D9D !important;
	border-radius: 4px !important;
}
.picker-button-margin {
	margin-left: 12px;
}