/* input{
   padding: 10px !important; 
}


.MuiInputBase-root-184{
    margin-top: 0% !important;
}
.MuiFormControl-root-167{
    margin: 0% !important;
}

.MuiPrivateSwitchBase-input-214{
color: #2699FB !important;
}
 */