* {
    margin: 0;
    padding: 0;
    /* font-family: "Source Sans Pro", sans-serif; */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

.demo-editor {
    height: 275px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 2px;
    font-size: 12pt;
    color: black;
}
.demo-wrapper {
    width: 100%;
}
