* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
}

button, input, optgroup, select, textarea {
    font-family: "Arial";
}
