* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    &.align-center {
        align-items: center;
    }
    &.align-end {
        align-items: flex-end;
    }
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    &.medium {
        min-width: 160px;
    }
    &.small {
        min-width: 109px
    }
    &.large {
        min-width: 256px;
    }
    &.stretch {
        flex: 0;
    }
    &.flex-3 {
        flex: 3;
    }
}

.dot {
    height: 14px;
    width: 14px;
    background-color: #ED0000;
    border-radius: 50%;
    display: inline-block;
    &.blue {
        background-color: #2699FB;
    }
    &.green {
        background-color: #04D12B;
    }
}

.padding-0 {
    padding: 0;
}

.bold {
    font-weight: bold;
}

.section-name {
    color: #43425D;
    font-family: Source Sans Pro, Bold;
    font-size: 28px;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.info-box {
    background-color: #2699FB;
    text-align: center;
    color: white;
}

.info-box-container {
    margin-left: 4px;
    margin-top: 4px;
}

.control-container {
    justify-content: flex-end;
    margin-bottom: 40px;
    border-bottom: 2px solid #EEEEEE;
}

.control-button {
    color: #2699FB;
    font-size: 11px;
    border: 2px solid #2699FB;
    border-radius: 4px;
    min-width: 170px;
    text-transform: uppercase;
    margin-left: 10px;
}

.align-start {
    align-items: flex-start!important;
}

.dropdown-input {
    &>div {
        height: 52px;
    }
}

